
<div>
    <p class="saudacoes">Bem Vindo ao</p>
    <h1 class="titulo"><span class="highlight">To Do List</span></h1>
    <p class="subtitle">Um Aplicativo para gerenciar suas atividades</p>
    
</div>

<div class="conteudo">
    <input type="text" id="input-novatarefa" class="placeholder" placeholder="Digite uma tarefa" #tarefa>
    <button class="btn-novo"  id="btn-new" title="Clique aqui para adicionar uma nova tarefa">+</button>

</div>

<div class="conteudo">
   <ul>

    <li *ngFor="let item of items"></li>

   </ul>

    
    