.bgprincipal {
    background-image: url(https://i.postimg.cc/vmThjfbH/cor-do-ano-tons-roxos-paisagem-abstrata-com-estetica-de-fantasia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
};